.home_wrapper{
  display: grid;
  place-items: center;
}

.map_controller{
  display: flex;
  justify-content: flex-start;
  border: 1px solid black;
  margin-left: 1rem;
  width: 60rem;
  height: 30rem;

  & .map_navigation{
    width: 20rem;
    background-color: green;
  }
}
